body {
	background-image: url(../images/spices_cut.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: relative;
}

input[type="text"]{
  display: inline-block;
  width: 340px;
  padding: 5.5px;
  text-align: left;
  font-size: 0.938em;
  letter-spacing: 3px;
  background-color: white;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 49%;
  left: 30%;
}

input[type="submit"]{
  display: inline-block;
  width: 150px;
  padding: 5.5px;
  text-align: center;
  font-size: 0.938em;
  letter-spacing: 3px;
  background-color: white;
  color: orange;
  font-style: italic;
  position: absolute;
  top: 49%;
  left: 57%;
}

input[type="submit"]:hover{
  background-color: orange;
  color: white;
  font-style: italic;
}
