body {
	background-image: url(../images/spices_cut.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: relative;
}

.name {
	display: inline-block;
	font-size: 40px;
	margin-top: 30px;
	margin-left: 30px;
	color: orange;
}

.contact {
	margin: 100px auto;
	width: 600px;
	height: 100%;
	background-color: rgba(256,256,256,0.7);
	padding-top: 10px;
}

input {
	display: block;
	width: 340px;
	padding: 10px;
}

.spacing {
	margin: 20px auto;
}

textarea {
	display: block;
	width: 340px;
	padding: 10px;
	margin: 20px auto;
	font: 13.3333px Arial;
	line-height: 17px;
}

input[type="textarea"] {
	height: 200px;
	vertical-align: top;
}

input[type="submit"] {
	width: 100px;
}

.formtext {
	margin: 20px auto;
	font-size: 20px;
	max-width: 350px;
}

form {
	width: 400px;
	margin: 0 auto;
}

.popup {
	display: none;
	position: fixed;
	top: 200px;
	left: 35%;
	width: 30%;
	background-color: white;
	border: 2px solid orange;
	border-radius: 20px;
	box-sizing: border-box;
}

.style {
	margin-top: 10px;
	margin-left: 10px;
}

.messagename {
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.incomplete {
	display: none;
	color: red;
	font-size: 16px;
}

.close {
	margin-top: 10px;
	margin-right: 10px;
}

